In [1]:
import yfinance as yf

df = yf.download("7203.T", period="1y")
df.head()

C:\Users\Etano\AppData\Local\Temp\ipykernel_21492\1819386709.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("7203.T", period="1y")
[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open    Volume
Ticker           7203.T       7203.T       7203.T       7203.T    7203.T
Date
2024-11-28  2522.107178  2526.460642  2480.023686  2506.628192  19673700
2024-11-29  2468.414551  2532.749086  2463.577368  2526.944467  24496900
2024-12-02  2525.977051  2535.167699  2473.735473  2481.474966  20253600
2024-12-03  2565.641846  2578.218521  2519.204889  2525.976945  28572300
2024-12-04  2545.325684  2570.962753  2526.460670  2548.711712  19005600